body
{
  text-align: center;
  font-family: 'Ubuntu Mono'; 
  font-size: 16px;
  margin: 0;
}

img.flickr-api
{
  max-width: 100%;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}


.has-padding
{
  /*margin: 2px;*/
}

.zero-margin-bottom
{
  margin-bottom: 0rem;
}

.title
{
  font-size: 24px;
}

.banner
{
  background-image: url(https://i.imgur.com/TmNA8BU.jpg);
  background-size: 75% 50%;
}

label.title
{
  font-size: 24px;
}

.mockFlickrImg
{

}

.footer 
{
  font-size: 12px;
  margin:0 auto;
  width:800px;
  height:auto;
  overflow:hidden;
  bottom: 0px;
}